/* mesas */
body{
     overflow: auto;
      background-color:#55ACEE;
}
.container{
     background-color:#55ACEE;
     height: 100%;
}
#tituloMesas{
     color:white;
     font-size: 30px;
}
.box{
     background-color: white;
     height: 100px;
     border-radius: 15px;
     margin: 13px;
    
}
.box1{
     text-align: center;
}
#entra{
     margin-top: 20%;
     border-radius: 5px;
     background-color: #66d9ff;
     color: white;
}
label{
     margin-top: 5px;
}
.fas{
     margin-top: 20px;
}
#navbar{
     background-color: #0054ac;
     text-align: center;
     position: fixed;
     width: 100%;
     bottom: 0px;
     
}
img{
     color: white;
     padding: 15px;
     padding-top: 5px;
     padding-bottom: 0px;
}
a{
     color: white;
}
a:hover{
     color: white;
     text-decoration: none;
}
#perfilLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#inicioLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#pedidoLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}