.container{
     background-color:#55ACEE;
     height: 100%;
}
#tituloMesas{
     color:white;
     font-size: 30px;
}
.box{
     background-color: white;
     height: 120px;
     border-radius: 15px;
     margin-left: 10%;
     margin-right: 10%;
     width:80%; 
     margin-top: 5%;
}
.box1{
     text-align: center;
}
#entra{
     margin-top: 20%;
     border-radius: 5px;
     background-color: #66d9ff;
     color: white;
}
label{
     margin-top: 5px;
}
.fas{
     margin-top: 20px;
}
#navbar{
     background-color: #0054ac;
     text-align: center;
     position: fixed;
     width: 100%;
     bottom: 0px;
}
img{
     color: white;
     padding: 15px;
     padding-top: 5px;
     padding-bottom: 0px;
}
label{
     font-size: 20px;
     margin-top: 20px;
}
#mesa{
     float: right;
}
a{
     color: white;
}
a:hover{
     color: white;
     text-decoration: none;
}
#perfilLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#inicioLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#pedidoLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#notime{
    float: right;
}