/* This is a CSS file */
.container{
     background-color: #55ACEE;
}
body{
     background-color: #55ACEE;
}
.a{
     text-decoration: none;
}
.a:hover{
     text-decoration: none;
}
#imagenUsuario{
     width: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
.fas{
     margin-top: 20px;
     color: white;
}
#tituloPerfil{
     color:white;
     font-size: 30px;
}
#perfilLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#inicioLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#pedidoLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}