/* inicio */
#titulo{
     text-align: center;
     color: white;
     font-size: 50px;
}
.container{
     background-color:#1e88e5;
     width: 100%;
     height: 100%;
}
#comanda{
     height: 140px;;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20%;
     font-size: 25px;
     background-color: #3949ab;
     color: white;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #5c6bc0;
}
#comanda:hover{
     box-shadow: 0 5px #666;
     transform: translateY(4px);
     outline: none;
}
#pedido{
     height: 140px;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20%;
     font-size: 25px;
     background-color: #3949ab;
     color: white;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #5c6bc0;
}
#pedido:hover{
     box-shadow: 0 5px #666;
     transform: translateY(4px);
     outline: none;
}
#navbar{
     background-color: #0054ac;
     text-align: center;
     position: fixed;
     width: 100%;
     bottom: 0px;
     box-shadow: 0px -1px 5px 0px rgba(0,0,0,1);
}
img{
     color: white;
     padding: 15px;
     padding-top: 5px;
     padding-bottom: 0px;
}
a{
     color: white;
}
a:hover{
     color: white;
     text-decoration: none;
}
#perfilLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#inicioLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
#pedidoLabel{
     margin-top: 0px;
     font-size: 15px;
     color: white;
}
